@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300;400;700&display=swap');

$font-stack: 'Comfortaa', sans-serif;
$font-title: 'Space Grotesk', serif;
$font-color: #2a293e;
$bcg-color: #fff;
$primary-color: #fe7bdb;
$secundary-color: #95e5fe;
$third-color: #8dffe8;
$fourth-color: #fbfe4b;


body {
    box-sizing: border-box;
    margin: 0;
    font: 100% $font-stack;
    background-color: $bcg-color;
    color: $font-color;
    font-size: 1rem;
    h1 {
        font-family: $font-title;
        margin-left: 1vw;
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 1.5vw 3vw;
    height: 6vh;
    background-color: $bcg-color;
    box-shadow: 0 8px 6px -6px $font-color;
    z-index: 10;
    .profile-img {
        border-radius: 50% 50% 0 50%;
        height: 45px;
        width: 45px;
        cursor: pointer;
        object-fit: cover;
        object-position: center right;
        vertical-align: middle;
        box-shadow: none;
    }
}

nav {
    margin-left: auto;
    li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        padding: 0 1rem;
    }
    ul {
        display: flex;
        align-items: center;
        li:nth-child(odd) {
            p {
                background: linear-gradient(180deg, $bcg-color 70%, $primary-color 30%);
            }
            p:hover {
                background: linear-gradient(180deg, $bcg-color 40%, $primary-color 60%);
            }
        }
        li:nth-child(even) {
            p {
            background: linear-gradient(180deg, $bcg-color 70%, $third-color 30%);
            }
            p:hover {
            background: linear-gradient(180deg, $bcg-color 40%, $third-color 60%);
            }
        }
    }
    svg {
        width: 1.5rem;
        cursor: pointer;
        
    }
    svg:hover {
        color: $primary-color;
    }
}

footer {
    margin: 0;
    bottom: 0;
    width: 100%;
    padding: 1vh 1vw;
}

a {
    text-decoration: none;
    color: $font-color;
}

.logo {
    width: 3em;
    height: 3em;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;
    padding: 1vh 1vw;
    background-color: rgba(255, 255, 255, 0.322);
}
// HOME PAGE
.home-page {
    display: flex;
    flex-direction: column;
    margin: 1vw 1vh;
    .grid {
        display: grid;
        grid-template: repeat(2, [row] 1fr) / repeat(4, [col] 1fr);
        // grid-gap: 1.5vw;
        margin: 0 5vw;
        min-height: 100vh;
        .item-1,
        .item-2 {
        align-items: center;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .item-1 {
        grid-column: col 1 / span 2;
        grid-row: row 1 / span 2;
        z-index: 2;
        margin-right: 2rem;
        h2 {
            color: $third-color;
        }
        }
        .item-2 {
        grid-column: col 3 / span 4;
        grid-row: row 1 / span 2;
        z-index: 1;
        background-color: $primary-color;
        }
        .bottom-2 {
            background-color: $secundary-color;
        }
        .bottom-1 {
            h2 {
            color: $primary-color;
        }
        }
    }
    .aside-image {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 100vh;
        img {
            max-width:100%;
            height:100%;
            object-fit: cover;
            // margin-top: 25rem;
        }
    }
    h2 {
        font-family: $font-title;
        text-transform: uppercase;
        h2:nth
    }
}

// FORM ELEMENTS
.formField {
    margin: 6rem auto;
    padding: 2%;
    width: 28.125rem;
    height: auto;
    min-height: 500px;
    background-color: $bcg-color;
    border-radius: 15px;
    border: 2px solid $font-color;
    .form {
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .header {
        margin: 2% auto 10% auto;
        text-align: center;
        h2 {
            font-size: 2rem;
            font-family: $font-title;
            color: $font-color;
        }
        p {
            letter-spacing: 0.05em;
        }
    }
    .con {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    input {
        display: block;
        margin-top: 2%;
        padding: 0 15px;
        width: 15rem;
        height: 3.125rem;
        outline: none;
        border: none;
        border-bottom: 2px solid $secundary-color;
        color: $font-color;
        font-size: calc(0.6rem + 1vmin);
        font-family: $font-stack;
        transition: 0.2s linear;
    }
    input:focus {
        transform: translateX(-10px);
        border-bottom: 2px solid $fourth-color;
    }
    button {
        display: inline-block;
        margin: 6% auto;
        padding: 0 1.25rem;
        width: 15rem;
        height: 3.125rem;
        border: 2px solid $font-color;
        border-radius: 50px;
        background-color: $primary-color;
        outline: none;
        font-size: calc(0.4rem + 1vmin);
        color: $font-color;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s linear;
        text-transform: uppercase;
    }
    button::before {
        border: 2px solid $font-color;
    }
    button:hover {
        transform: matrix(1, 0, 0, 1, 7, 7);
        transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;
        border-top-left-radius: 70px ;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    .submits {
        width: 40%;
        display: inline-block;
        margin-left: 7%;
    }
    .sig-up, .deleteAcc {
        background-color: $secundary-color;
    }
    .frgt-pass, .delete {
        background-color: $fourth-color;
    }
    .logout {
        background-color: $third-color;
    }
}

input[type=file] {
    -webkit-appearance: textfield;
    width: 240px;
    height: 50px;
    outline: none;
    background-color: #fff;
    color: $font-color;
    font-size: calc(0.3rem + 1vmin);
    text-align: center;
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

label { 
  font-size: calc(0.3rem + 1vmin); 
  line-height: 4em;
  text-transform: uppercase;
  color: $font-color;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}
.outer {
  position: relative;
  margin-top: 5vh;
  margin: auto;
  width: 70px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 2px;
  width: inherit;
  background: $font-color;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

// PROFILE
.profile  {
    margin: 15vh 5vw;
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 30%  1fr 30%;
    grid-template-rows: 32%  1fr;
    grid-gap: 2vw;
    .profile-img {
        height: 19rem;
        width: 19rem;
        object-fit: cover;
        object-position: center right;
        cursor: pointer;
        border: 2px solid $font-color;
        border-radius: 15px;
    }
    .profile-img:hover {
        transform: matrix(1, 0, 0, 1, 7, 7);
        transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;
    }
    .add-bio {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, $third-color 30%);
        cursor: pointer;
    }
    .add-bio:hover {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, $third-color 50%);
    }
    .edit {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, $primary-color 30%);
    }
    .edit:hover {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, $primary-color 50%);
    }
    .delete {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, $secundary-color 30%);
    }
    .delete:hover {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, $secundary-color 50%);
    }
    .blue {
        color: $secundary-color;
        font-family: $font-title;
    }
    .green {
        color: $third-color;
        font-family: $font-title;
        margin-bottom: 0.1rem;
    }
}

textarea {
    display: block;
    margin-top: 2%;
    padding: 15px;
    width: 240px;
    height: 150px;
    outline: none;
    border: 2px solid $font-color;
    border-radius: 15px;
    resize: none;
    color: $font-color;
    font-size: calc(0.6rem + 1vmin);
    font-family: "Comfortaa";
    transition: 0.2s linear;
}
textarea:focus {
    transform: translateX(-10px);
}

.weather {
    display: grid;
    grid-template: 2rem 2rem 6rem 5rem / repeat(2, [col] 1fr);
    padding: 0.5rem 0.5rem;
    grid-gap: 1vh 1vw;
    grid-row: 2;
    height: 18rem;
    width: 20rem;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
    background-color: $secundary-color;
    h2 {
    grid-column: 1 / span 2;
    margin: 0 auto;
    color: $bcg-color;
    font-family: $font-title;
    font-weight: 700;
    }
    .location {
        grid-column: 1 / span 2;
        margin: 0 auto;
        border-bottom: 2px solid $font-color;
    }
    .descrip {
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .others {
        grid-column: 1 / span 2;
        margin: 0 auto;
        border-top: 2px solid $font-color;
    }
    .temp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
        font-size: .86rem;
        padding: .33rem;
    }
    img {
        width: 3.5rem;
        height: auto;
    }
}

.recomendations {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    min-height: auto;
    width: 20rem;
    border-radius: 15px;
    justify-self: center;
    align-items: center;
    background-color: $primary-color;
    h2 {
    grid-column: 1 / span 2;
    margin: 0 auto;
    color: $bcg-color;
    font-family: $font-title;
    font-weight: 700;
    }
    p {
        font-size: .86rem;
        padding: .33rem;
    }

}

.todo-container {
    grid-column: 3;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    .todo-week {
        display: flex;
        flex-direction: column;
        .todo {
            display: flex;
            align-items: center;
        }
    }
    button {
        display: inline-block;
        margin: 2% 2%;
        padding: 0 1rem;
        min-width: 5rem;
        height: 2rem;
        border: 2px solid $font-color;
        border-radius: 50px;
        background-color: $primary-color;
        outline: none;
        font-size: calc(0.4rem + 1vmin);
        color: $font-color;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s linear;
        text-transform: uppercase;
        text-decoration: none;  
    }
    button:hover {
        transform: matrix(1, 0, 0, 1, 7, 7);
        transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;
    }
    p {
        margin-left: 1rem;
    }
    .btn-0 {
        background-color: $fourth-color;
    }
    .btn-1 {
        background-color: $third-color;
    }
    .btn-2 {
        background-color: $secundary-color;
    }
}


@media screen and (max-width: 700px) {
  .profile, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .bio-cropper {
    text-align: center;
  }
}

.survey-page {
    display: flex;
    .aside-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        overflow: hidden;
        img {
            max-width:100%;
            height:70%;
            object-fit: cover;
            margin-top: 15vh;
        }
    }
}

.survey-container {
    min-height: 65vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 15vh 5vw;
    span:nth-child(1) {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, $secundary-color 30%);
        font-weight: 700;
    }
    span:nth-child(2) {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, $third-color 30%);
        font-weight: 700;
    }
    span.save-survey {
        background: linear-gradient(180deg, rgba(230, 32, 32, 0)70%, $fourth-color 30%);
        font-weight: 700;
        cursor: pointer;
        &:hover {
            background: linear-gradient(180deg, rgba(230, 32, 32, 0)50%, $fourth-color 50%);
        }
    }
    button {
        display: inline-block;
        margin: 2% 2%;
        padding: 0 1.25rem;
        min-width: 15rem;
        min-height: 3.125rem;
        border: 2px solid $font-color;
        border-radius: 50px;
        outline: none;
        font-size: calc(0.4rem + 1vmin);
        color: $font-color;
        text-align: center;
        cursor: pointer;
        transition: all 2s linear;
        text-transform: uppercase;
    }
    button:nth-child(1), button:nth-child(5) {
        background-color: $primary-color;
    }
    button:nth-child(2), button:nth-child(6) {
        background-color: $secundary-color;
    }
    button:nth-child(3) {
        background-color: $third-color;
    }
    button:nth-child(4) {
        background-color: $fourth-color;
    }
    button:hover {
        transform: matrix(1, 0, 0, 1, 7, 7);
        transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
            transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s;
        border-top-left-radius: 70px ;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    
}

.chat-page {
    display: flex;
    max-height: 100vh;
    flex-direction: row;
    margin: 15vh 5vw;
    .chat-container {
        display: flex;
        height: 35rem;
        flex-direction: column;
        padding: 2vw 2vh;
        border: 2px solid $font-color;
        border-radius: 30px;
        textarea {
            width: 70%;
            margin: 1vh 1vw;
            border-radius: 15px;
            align-self: center;
        }
        .messages-container {
            display: flex;
            flex-direction: column-reverse;
            max-height: 100vh;
            overflow-y: scroll;
            margin: 1vh 1vw;
            grid-gap: .5rem;
            .message-container {
                display: grid;
                grid-template-columns: 70px 1fr;
                grid-template-rows: 50px 1fr;
                border-radius: 30px;
                img {
                    border-radius: 50% 50% 0 50%;
                    height: 45px;
                    width: 45px;
                    object-fit: cover;
                    padding: 1vh 1vw;
                    grid-row: 1 / span 2 ;
                    object-position: center right;
                }
                p {
                padding: 1vh 1vw;
                }
                .timestamp {
                    font-style: italic;
                    font-weight: 300;
                    font-size: calc(0.4rem + 1vmin);
                    color: gray;
                }
                .user {
                    font-weight: 700;
                }
                .deleteMsg {
                    padding: 2vh 2vw;
                    grid-column: 2;
                    justify-self: end;
                    cursor: pointer;
                    width: 2rem;
                    &:hover {
                        transform: matrix(1, 0, 0, 1, 7, 7);
                        transition: transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
                            -webkit-transform 0.4s cubic-bezier(0.17, 0.89, 0.32, 1.275) 0s, 
                    }
                }
            }
            .message-container:nth-child(odd) {
                background-color: rgba(254, 123, 219, 0.2)
            }
            .message-container:nth-child(even) {
                background-color: rgba(149, 229, 254, 0.2);
            }
        }
        .scrollTop {
            width: 100%;
            bottom: 20px;
            align-items: center;
            height: 20px;
            justify-content: center;
            z-index: 1000;
            cursor: pointer;
            animation: fadeIn 0.3s;
            transition: opacity 0.4s;
            opacity: 0.5;
            color: $third-color;
            &:hover{
                opacity: 1;
            }
        }
              
    }
    .aside-image {
        width: 85rem;
        overflow: hidden;
        img {
            max-width:100%;
            height:80%;
            object-fit: cover;
        }
    }              
}

